<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Sucesso</title>
    <!-- Adicione o CSS do Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Alerta de sucesso do Bootstrap -->
        <div class="alert alert-success" role="alert">
            <%= successMessage %>
        </div>
    </div>
</body>
</html>
