<%- include('./components/header.ejs') %>
<body>
  <%- include('./components/navbar.ejs') %>
    <div class="container">
        <h1 class="text-center">Index</h1>
    </div>

    <!-- Incluir o arquivo JavaScript do Bootstrap (opcional, se você precisar de funcionalidades do Bootstrap que dependam de JavaScript) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
